{% extends 'main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Новости</h1>
      <p class="lead my-3">Новые акции и обновления</p>
      <p class="lead mb-0"><a href="{% url 'news' %}" class="text-body-emphasis fw-bold">Продолжить просмотр...</a></p>
    </div>
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Пришедшие для улучшения мира
      </h3>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Начало истории</h2>
        <p class="blog-post-meta">Написал я сам</p>

        <p>Однажды в живописном городе по имени Фитнессвиль, расположенном в самом сердце побережья, процветал небольшой, но уютный магазин спортивного питания под названием "Энергия". Он был местом, где спортсмены, фитнес-энтузиасты и все те, кто стремился к здоровому образу жизни, собирались в поисках основ атлетического успеха.</p>
        <hr>
        <p> Владельцем магазина был Джек, сам проникнутый энтузиаст, который сам покорял вершины горных массивов. Он всегда был в настроении помочь своим клиентам выбрать правильное питание, нацеленное на достижение их желаемых спортивных целей.</p>
        <h2>Магазин</h2>
        <p>Магазинный прикол</p>
        <blockquote class="blockquote">
          <p>Описание появления</p>
        </blockquote>
        <p>В магазине "BoostFood" можно было найти широкий ассортимент белковых шейков, спортивных добавок, витаминов и минералов. Независимо от того, нужна ли вам дополнительная энергия для разминки, восстановления после тренировки или поддержка для достижения высокоэффективного результата, у Джека всегда был подходящий продукт.</p>
        <h3>Постоянные клиенты</h3>
        <p>Некоторые из его постоянных клиентов были профессиональными спортсменами, которые оценили не только качество продуктов, но и особое внимание, которое Джек уделял каждому клиенту. Он был всегда готов поделиться своими знаниями и опытом, чтобы помочь им достичь максимальной производительности.</p>
          <p>Заводя дружеские беседы с посетителями, Джек узнавал их цели, мотивацию и предпочтения, чтобы порекомендовать наиболее подходящие продукты. Его теплые слова поддержки и внимание помогли ему создать превосходную репутацию и привлечь новых клиентов</p>
        <p>Благодаря своему растущему успеху, "BoostFood" стала не только магазином спортивного питания, но и местом, где люди могли познакомиться, обмениваться опытом и даже находить новых тренировочных партнеров. Там были проводимы специальные мероприятия, лекции по здоровому образу жизни и демонстрации новых продуктов.</p>
        <dl>
          <dt>Возраст не проблема</dt>
          <dd>Джек всегда приветствовал в своем магазине людей всех возрастов и уровней физической активности. Он верил, что здоровый образ жизни может изменить жизнь каждого, и направлял все свое усилия на то, чтобы помочь людям достичь своих целей.</dd>
          <dt>Финал</dt>
          <dd>Так продолжалась история магазина "Энергия", насыщенная дружеской атмосферой, энтузиазмом и готовностью помочь. Она привлекала людей, которым нужна была сила и поддержка, чтобы реализовать свой потенциал и проводить активную, здоровую жизнь.</dd>
        </dl>

</main>
{% endblock %}







