{% extends 'main/base.html' %}

{% block title %}
Новости
{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Создание сайта</h1>
        <p class="col-md-8 fs-4">Созданием сайта занимался Олег Трофимов ИВТ-21-20, звоните 89677911104 пишите тг @zuuzuu111</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>Праздники</h2>
          <p>Праздники на день рождения создателя 22.07.2023 и на новый год, ну и 23 февраля</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-body-tertiary border rounded-3">
          <h2>Акции</h2>
          <p>Акций не будет, только можете прийти мне на др что-то подарить</p>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-body-secondary border-top">
        Есть другие компании, но буду упоминать только "Академия спорта", так как лучшая тренажерка в мире
    </footer>
  </div>
{% endblock %}