{% extends 'main/base.html' %}


{% block title %}
Товары
{% endblock %}

{% block content %}
 <section class="py-5 text-center container">
   <img src="https://sportishka.com/uploads/posts/2021-12/1638324357_39-sportishka-com-p-paren-kachok-so-spini-krasivie-foto-silovi-45.jpg" width="70%" alt="Banner Image" class="img-fluid">
  </section>
<div class="row overflow-auto">
                {% for Products in product %}
                    <div class="col-md-4 mb-4">
                        <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="height: 600px;">
                            <img src="{{ Products.image.url }}" alt="{{ Products.name }}" style="height: 200px; width: 200px;" class="rounded mx-auto d-block">
                            <div class="card-body">
                                <h2 class="card-title" style="color: emphasis;">{{ Products.name }}</h2>
                                <p class="card-text" style="color: emphasis;">Цена: <span style="color: emphasis;">{{ Products.price }}</span> ₽</p>
                                <p class="card-text fst-italic" style="color: emphasis;" >{{ Products.description }}</p>
                                <button type="button" class="w-100 btn btn-lg btn-outline-dark">Купить</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
{% endblock %}